In [2]:
#https://www.kaggle.com/datasets/solarmainframe/ids-intrusion-csv  #dataset is available through kaggle

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [51]:
# data_folder = 'C:\\Users\\satya\\OneDrive\\Desktop\\03-02-2018.csv' 
# df = pd.read_csv(data_folder)

In [52]:
df.shape

(125, 1034)

In [18]:
df.head()

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,443,6,02/03/2018 08:47:38,141385,9,7,553,3773.0,202,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
1,49684,6,02/03/2018 08:47:38,281,2,1,38,0.0,38,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
2,443,6,02/03/2018 08:47:40,279824,11,15,1086,10527.0,385,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
3,443,6,02/03/2018 08:47:40,132,2,0,0,0.0,0,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
4,443,6,02/03/2018 08:47:41,274016,9,13,1285,6141.0,517,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign

In [19]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], errors='coerce')
df['Timestamp'] = (df['Timestamp'] - df['Timestamp'].iloc[0])/pd.to_timedelta('1Min')

In [20]:
df.head()

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,443,6,0.000000,141385,9,7,553,3773.0,202,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
1,49684,6,0.000000,281,2,1,38,0.0,38,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
2,443,6,0.033333,279824,11,15,1086,10527.0,385,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
3,443,6,0.033333,132,2,0,0,0.0,0,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
4,443,6,0.050000,274016,9,13,1285,6141.0,517,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign

In [21]:
df.Label.value_counts()

Benign    762384
Bot       286191
Name: Label, dtype: int64

In [22]:
df.shape

(1048575, 80)

In [23]:
df

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,443,6,0.000000,141385,9,7,553,3773.0,202,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
1,49684,6,0.000000,281,2,1,38,0.0,38,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
2,443,6,0.033333,279824,11,15,1086,10527.0,385,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
3,443,6,0.033333,132,2,0,0,0.0,0,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
4,443,6,0.050000,274016,9,13,1285,6141.0,517,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,3389,6,-399.333333,3982183,14,8,1442,1731.0,725,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
1048571,3389,6,-399.266667,3802316,14,8,1440,1731.0,725,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
1048572,3389,6,-399.216667,4004239,14,8,1459,1731.0,741,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
1048573,3389,6,-399.150000,3998435,14,8,1459,1731.0,741,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
1048574,3389,6,-399.083333,3972651,14,8,1439,1731.0,725,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign

In [24]:
print(df.Label)

0          Benign
1          Benign
2          Benign
3          Benign
4          Benign
            ...
1048570    Benign
1048571    Benign
1048572    Benign
1048573    Benign
1048574    Benign
Name: Label, Length: 1048575, dtype: object

In [25]:
features = df.dtypes[df.dtypes != 'object'].index
df[features] = df[features].apply(
    lambda x: (x - x.mean()) / (x.std()))
# Fill empty values by 0
df = df.fillna(0)

In [26]:
print(df.Label)

0          Benign
1          Benign
2          Benign
3          Benign
4          Benign
            ...
1048570    Benign
1048571    Benign
1048572    Benign
1048573    Benign
1048574    Benign
Name: Label, Length: 1048575, dtype: object

In [27]:
index_to_drop=867687
df=df.drop(index_to_drop)

In [28]:
df.head()

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,-0.526353,-0.462445,0.388363,-0.377570,0.034961,0.000079,0.074506,-0.004851,-0.031583,-0.393762,...,0.491544,-0.059026,-0.048593,-0.068994,-0.047195,-0.274575,-0.072762,-0.276853,-0.269833,Benign
1,2.721358,-0.462445,0.388363,-0.382254,-0.043661,-0.028096,-0.163944,-0.017066,-0.645931,-0.393762,...,0.491544,-0.059026,-0.048593,-0.068994,-0.047195,-0.274575,-0.072762,-0.276853,-0.269833,Benign
2,-0.526353,-0.462445,0.388500,-0.372974,0.057425,0.037645,0.321290,0.017016,0.653939,-0.393762,...,0.491544,-0.059026,-0.048593,-0.068994,-0.047195,-0.274575,-0.072762,-0.276853,-0.269833,Benign
3,-0.526353,-0.462445,0.388500,-0.382259,-0.043661,-0.032791,-0.181539,-0.017066,-0.788280,-0.393762,...,0.491544,-0.059026,-0.048593,-0.068994,-0.047195,-0.274575,-0.072762,-0.276853,-0.269833,Benign
4,-0.526353,-0.462445,0.388568,-0.373166,0.034961,0.028254,0.413429,0.002816,1.148414,-0.393762,...,0.491544,-0.059026,-0.048593,-0.068994,-0.047195,-0.274575,-0.072762,-0.276853,-0.269833,Benign

In [29]:
print(df.Label)

0          Benign
1          Benign
2          Benign
3          Benign
4          Benign
            ...
1048570    Benign
1048571    Benign
1048572    Benign
1048573    Benign
1048574    Benign
Name: Label, Length: 1048574, dtype: object

In [30]:
X=df.drop('Label',axis='columns')
y=df.Label

In [31]:
y

0          Benign
1          Benign
2          Benign
3          Benign
4          Benign
            ...
1048570    Benign
1048571    Benign
1048572    Benign
1048573    Benign
1048574    Benign
Name: Label, Length: 1048574, dtype: object

In [32]:
 X = X.astype(float)

In [33]:
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE

In [34]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [35]:
sm = SMOTE(random_state = 2)
X_train_res, y_train_res = sm.fit_resample(X_train, y_train.ravel())

In [36]:
print("Before OverSampling, counts of label '1': {}".format(sum(y_train == 1)))
print("Before OverSampling, counts of label '0': {} \n".format(sum(y_train == 0)))

Before OverSampling, counts of label '1': 0
Before OverSampling, counts of label '0': 0

In [37]:
print('After OverSampling, the shape of train_X: {}'.format(X_train_res.shape))
print('After OverSampling, the shape of train_y: {} \n'.format(y_train_res.shape))

After OverSampling, the shape of train_X: (1219740, 79)
After OverSampling, the shape of train_y: (1219740,)

In [38]:
print("After OverSampling, counts of label '1': {}".format(sum(y_train_res == 1)))
print("After OverSampling, counts of label '0': {}".format(sum(y_train_res == 0)))

After OverSampling, counts of label '1': 0
After OverSampling, counts of label '0': 0

In [39]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [40]:
num_folds = 5
kfold = KFold(n_splits=num_folds, shuffle=True, random_state=42)

In [41]:
from sklearn import tree

In [42]:
model1 = tree.DecisionTreeClassifier()
scores = cross_val_score(model1, X, y, cv=kfold)
model1.fit(X_train_res, y_train_res)
model1.score(X_train_res, y_train_res)
model1.score(X_test, y_test)

0.9999761581193525

In [43]:
for fold_idx, score in enumerate(scores):
    print(f"Fold {fold_idx+1}: Score = {score}")

print(f"Average Score: {np.mean(scores)}")

Fold 1: Score = 0.9999761581193525
Fold 2: Score = 0.999971389743223
Fold 3: Score = 0.9999952316238705
Fold 4: Score = 0.9999856948716115
Fold 5: Score = 0.9999856948033989
Average Score: 0.9999828338322914

In [44]:
from sklearn.metrics import precision_recall_fscore_support
y_pred = model1.predict(X_test)

In [45]:
print(y_test)

875681     Benign
1046906    Benign
646861     Benign
704385     Benign
798051     Benign
            ...
986581     Benign
916423     Benign
73306         Bot
565582     Benign
754044     Benign
Name: Label, Length: 209715, dtype: object

In [46]:
precision, recall, f1, _ = precision_recall_fscore_support(y_test, y_pred)

In [47]:
print(y_test)

875681     Benign
1046906    Benign
646861     Benign
704385     Benign
798051     Benign
            ...
986581     Benign
916423     Benign
73306         Bot
565582     Benign
754044     Benign
Name: Label, Length: 209715, dtype: object

In [48]:
for Label in range(len(precision)):
    print(f"Label {Label}:")
    print(f"  Precision: {precision[Label]}")
    print(f"  Recall: {recall[Label]}")
    print(f"  F1 Score: {f1[Label]}")

Label 0:
  Precision: 1.0
  Recall: 0.9999672159094635
  F1 Score: 0.9999836076860282
Label 1:
  Precision: 0.9999125981086231
  Recall: 1.0
  F1 Score: 0.9999562971444553

In [49]:
from sklearn.linear_model import LogisticRegression

In [50]:
model2 = LogisticRegression()
model2.fit(X_train_res, y_train_res)
model2.score(X_train_res, y_train_res)
model2.score(X_test, y_test)

c:\Users\satya\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.986352907517345